version: "3.8"

services:
  db:
    image: postgres:18.1-alpine3.23
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: go-shopping-cart
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
